@use "../import/mixin" as m;
.middle {
    overflow: hidden;
    .middle_mv {
        height: 500px;
        background: #ccc;
        display: table;
        width: 100%;
        position: relative;
        @include m.mq(sp) {
            height: 300px;
        }
        // ーー 波のアニメーション ーー
        &__decoration {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 160px;
            pointer-events: none;
            @include m.mq(sp) {
                height: 100px;
            }
        }

        &__wave-sway {
            position: absolute;
            bottom: -15px;
            left: 0;
            width: 100%;
            height: 100%;
            animation: wave-sway 4s ease-in-out infinite alternate;
        }

        &__wave-move {
            display: flex;
            width: 200%;
            height: 100%;
            animation: wave-moveLeft 10s linear infinite;
        }

        &__wave {
            flex: 0 0 50%;
            height: 100%;
            fill: m.$color-white;
            margin-right: -1px;
        }
    }
    /*パンくず*/
    .pankuzu_wrap {
        margin: 10px 0;
        position: relative;
        .pankuzu {
            display: flex;
            align-items: stretch;
            justify-content: flex-end;
            flex-wrap: wrap;
            li {
                font-size: 14px;
                color: m.$main-color;
                &:not(:last-of-type) {
                    padding-right: 1.5em;
                    position: relative;
                    &::before {
                        content: "";
                        width: 1px;
                        height: 53%;
                        background: m.$border-color;
                        position: absolute;
                        right: 0.75em;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                    a {
                        color: m.$main-color;
                        &:hover {
                            text-decoration: underline;
                            text-underline-offset: 3px;
                        }
                    }
                }
            }
        }
    }

    section:last-of-type {
        padding-bottom: 200px;
        @include m.mq(sp) {
            padding-bottom: 20vw;
        }
    }

    /*ページタイトル*/
    .page_ttl {
        font-size: clamp(36px, 5vw, 60px);
        font-weight: 600;
        letter-spacing: 0.125em;
        margin-bottom: 30px;
        line-height: 1;
        @include m.mq(sp) {
            font-size: 32px;
            margin-bottom: 20px;
        }
    }
    .page_sub_ttl {
        font-size: clamp(24px, 2.667vw, 32px);
        font-family: "Cormorant", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        color: m.$color-navy-hover;
        margin-bottom: clamp(100px, 10vw, 200px);
        line-height: 1;
        @include m.mq(sp) {
            font-size: 18px;
        }
    }

    /*リスト*/
    .nom_list {
        li {
            margin: 0 0 0.75em;
            padding-left: 2em;
            text-indent: -2em;
        }
    }

    .disc_list {
        li {
            position: relative;
            padding-left: 1.2em;
            line-height: 1.8;
            color: m.$main-color;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0.8em;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: m.$color-bullet;
            }
            span {
                font-weight: bold;
                font-size: 110%;
            }
        }
    }

    /*コンテンツブロック*/
    .block_contents {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        background: #fff;
        margin: 50px auto 80px;
        @include m.mq(sp) {
            margin: 5vw auto 8vw;
        }
        .textarea {
            h3 {
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 15px;
                @include m.mq(sp) {
                    font-size: 5.4vw;
                    margin-bottom: 0.45em;
                }
            }
            h4.sub_ttl {
                font-size: 18px;
                font-weight: 500;
                margin: 1.2em 0 0.2em;
                @include m.mq(sp) {
                    font-size: 4vw;
                }
                span {
                    font-size: 24px;
                    margin-left: 1em;
                    @include m.mq(sp) {
                        font-size: 5.4vw;
                    }
                }
            }
            .indent01 {
                padding-left: 1em;
            }
            p {
                margin: 0.5rem 0;
            }
            dl {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                font-size: 18px;
                @include m.mq(sp) {
                    font-size: 4vw;
                }
                dt {
                    width: 7em;
                }
                dd {
                    line-height: 2.2;
                    width: calc(100% - 7em);
                }
            }
        }
        &.type01 {
            .textarea {
                width: 50%;
                display: table;
                @include m.mq(sp) {
                    width: 100%;
                    order: 2;
                }
                .textarea_inner {
                    display: table-cell;
                    vertical-align: middle;
                    padding: 20px 80px;
                    @include m.mq(sp) {
                        padding: 5vw;
                    }
                }
            }
            .img_area {
                width: 50%;
                aspect-ratio: 192 / 125;
                position: relative;
                overflow: hidden;
                @include m.mq(sp) {
                    width: 100%;
                    order: 1;
                }
                img {
                    max-height: 100%;
                    max-width: 100%;
                    height: auto;
                    width: auto;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
        &.type02 {
            .textarea {
                padding: 80px;
                @include m.mq(sp) {
                    padding: 5vw;
                }
            }
        }
        > .ttl_block {
            width: 30%;
            display: table;
            position: relative;
            @include m.mq(sp) {
                width: 100%;
                padding: 5vw 0;
            }
            &::before {
                content: "";
                width: 1px;
                height: calc(100% - 80px);
                background: #ddd;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                @include m.mq(sp) {
                    width: calc(100% - 8vw);
                    height: 1px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: auto;
                }
            }
            h2 {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                span {
                    font-size: 30px;
                    font-weight: 500;
                    letter-spacing: 0.3em;
                    @include m.mq(sp) {
                        font-size: 6vw;
                    }
                    @include m.mq(pc) {
                        writing-mode: vertical-rl;
                    }
                }
            }
            + .textarea {
                width: 70%;
                @include m.mq(sp) {
                    width: 100%;
                }
                .textarea_inner {
                    vertical-align: text-top;
                    padding: 40px 50px;
                    @include m.mq(sp) {
                        padding: 4vw;
                    }
                }
            }
        }
    }

    .sec_inner.block_contents_separate {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        > div {
            width: 48%;
            margin: 0 0 80px;
            @include m.mq(sp) {
                width: 100%;
                margin: 0 0 8vw;
            }
        }
    }

    .sec_inner.block_contents_separate_type03 {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        > div {
            width: 32%;
            margin: 0 2% 80px 0;
            &:nth-of-type(3n) {
                margin-right: 0;
            }
            @include m.mq(sp) {
                width: 48%;
                margin: 0 4% 5vw 0;
            }

            @include m.mq(sp) {
                &:nth-of-type(3n) {
                    margin-right: 4%;
                }
                &:nth-of-type(2n) {
                    margin-right: 0;
                }
            }
            .textarea {
                width: 100%;
                padding: 20px;
                @include m.mq(sp) {
                    padding: 2vw;
                }
                h3 {
                    font-size: 20px;
                    margin-bottom: 0;
                    @include m.mq(sp) {
                        font-size: 4vw;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    /*エリア全体がボタン*/
    .contents_btn {
        a {
            aspect-ratio: 960 / 203;
            display: block;
            width: 100%;
            padding: 100px 0;
            background: #ccc;
            position: relative;
            @include m.mq(sp) {
                aspect-ratio: auto;
                padding: 10px;
            }
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transition: 0.4s ease-in-out;
                background: rgba($color: #000000, $alpha: 0.6);
                opacity: 0.1;
            }
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
            > div {
                display: table;
                height: 100%;
                text-align: center;
                border: 1px solid #fff;
                position: relative;
                width: 92%;
                @include m.mq(sp) {
                    width: 100%;
                    padding: 60px 0;
                }
                &::before {
                    position: absolute;
                    content: "";
                    background: #fff;
                    width: 120px;
                    height: 1px;
                    left: 0;
                    top: 50%;
                    @include m.mq(sp) {
                        width: 1px;
                        height: 30px;
                        top: 0;
                        left: 50%;
                    }
                }
                .inner {
                    display: table-cell;
                    vertical-align: middle;
                    padding: 70px 0;
                    @include m.mq(sp) {
                        padding: 0;
                    }
                    h2 {
                        text-align: center;
                        font-weight: 500;
                        font-size: 24px;
                        color: #fff;
                        @include m.mq(sp) {
                            font-size: 5.4vw;
                        }
                    }
                }
            }
        }
    }

    .table01 {
        width: 100%;
        margin: 100px auto;
        @include m.mq(sp) {
            margin: 10vw auto;
        }
        th,
        td {
            padding: 0.75em 2em;
            font-size: 18px;
            box-sizing: border-box;
            @include m.mq(sp) {
                display: block;
                padding: 0.5em 1em;
                font-size: 3.8vw;
            }
        }
        th {
            width: 25%;
            border-right: 1px solid;
            @include m.mq(sp) {
                padding-top: 1em;
                width: 100%;
                border-right: none;
                text-align: left;
                border-bottom: 1px solid;
            }
        }
        td {
            width: 75%;
            @include m.mq(sp) {
                width: 100%;
            }
        }
    }

    .table02 {
        width: 100%;
        text-align: center;
        margin: 50px auto 20px;
        @include m.mq(sp) {
            margin: 5vw auto 2vw;
        }
        th,
        td {
            padding: 0.75em 1em;
            border-bottom: 1px solid;
        }
        td {
            background: #fff;
            &:last-of-type {
                border-right: 1px solid;
            }
        }
    }

    .table03 {
        background: #fff;
        width: 100%;
        th,
        td {
            padding: 0.75em 1em;
            border: 1px solid #333;
            font-weight: bold;
            letter-spacing: 0.15em;
        }
        th {
            border-bottom: 1px solid #fff;
            background: #333;
            color: #fff;
        }
        tr {
            &:nth-of-type(2n) td {
                background: #f5f5f5;
            }
            &:last-of-type th {
                border-bottom: 1px solid #333;
            }
        }
    }
}
