@use "../import/mixin" as m;

.wp-pagenavi {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px auto;
    width: 100%;
    gap: 30px;
    @include m.mq(tab_pc) {
        margin: 80px 0 200px;
    }
    @include m.mq(sp) {
        gap: 20px;
    }
    .pages {
        display: none;
    }

    > * {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 !important;
        text-align: center;
        line-height: 1;
        color: m.$main-color;
        font-size: 20px;
        font-family: "Shippori Mincho B1", serif;
        font-weight: 400;
        font-style: normal;
        border: none !important;
        padding: 0 !important;
        @include m.mq(sp) {
            font-size: 18px;
        }
        &.current {
            color: m.$color-light-navy;
            font-weight: 400 !important;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                width: 80%; /* 直線の長さ */
                height: 1px; /* 直線の太さ */
                background-color: m.$color-light-navy;
            }
        }
        &:hover {
            opacity: 0.8;
        }
        &.extend {
            background: none;
            border: none !important;
        }
        &.previouspostslink,
        &.nextpostslink {
            position: relative;
            border: 1px solid m.$color-border !important;
            width: 60px;
            height: 60px;
            background-color: #ffffff;
            color: transparent;
            transition: all 0.3s;
            border-radius: 4px;
            cursor: pointer;
            @include m.mq(sp) {
                width: 40px;
                height: 40px;
            }
            &::before {
                content: "";
                position: absolute;
                top: 30px;
                left: 50%;
                transform: translateX(-50%);
                width: 28px; /* 直線の長さ */
                height: 1px; /* 直線の太さ */
                background-color: m.$color-light-navy; /* 直線の色 */
                transition: all 0.3s ease;
                @include m.mq(sp) {
                    top: 20px;
                    width: 22px;
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: 26px;
                transition: all 0.3s ease;
                @include m.mq(sp) {
                    top: 16px;
                }
            }
            &:hover {
                opacity: 1;
                background-color: m.$color-light-navy;
                border: 1px solid m.$color-light-navy !important;
                &:before {
                    background-color: #fff; /* 直線の色 */
                }
            }
        }
        &.previouspostslink {
            margin-right: 20px !important;
            @include m.mq(sp) {
                margin-right: 10px !important;
            }
            &::after {
                left: 16px; /* ボタン右端からの位置 */
                /* CSSのborder機能を使って三角形を作るテクニック */
                border-style: solid;
                border-width: 4px 5px 4px 0px; /* 上4px、右0、下4px、左5px */
                border-color: transparent m.$color-light-navy transparent transparent; /* 左側だけ色をつけて右向き三角に */
                @include m.mq(sp) {
                    left: 9px;
                }
            }
            &:hover {
                &:after {
                    border-color: transparent #fff transparent transparent;
                }
            }
        }

        &.nextpostslink {
            margin-left: 20px !important;
            @include m.mq(sp) {
                margin-left: 10px !important;
            }
            &::after {
                right: 16px; /* ボタン右端からの位置 */
                /* CSSのborder機能を使って三角形を作るテクニック */
                border-style: solid;
                border-width: 4px 0 4px 5px; /* 上4px、右0、下4px、左5px */
                border-color: transparent transparent transparent m.$color-light-navy; /* 左側だけ色をつけて右向き三角に */
                @include m.mq(sp) {
                    right: 9px;
                }
            }
            &:hover {
                &:after {
                    border-color: transparent transparent transparent #fff;
                }
            }
        }
    }
}

.single_pagenav {
    width: 100%;
    max-width: 540px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
    align-items: center;
    @include m.mq(sp) {
        margin-top: 50px;
        gap: 10px;
    }

    li {
        &.all {
            width: calc(100% - 160px);
            @include m.mq(sp) {
                width: calc(100% - 100px);
            }
            a {
                display: block;
                text-align: center;
                font-weight: bold;
                position: relative;
                padding: 11px;
                width: 100%;
                max-width: 380px;
                transition: 0.3s;
                border: 2px solid m.$main-color;
                background: #fff;
                border-radius: 6px;
                overflow: hidden;
                margin: 0 auto;
                &:hover {
                    color: #fff;
                    background: m.$main-color;
                }
            }
        }
        &.tip {
            a {
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid m.$color-navy-hover;
                background: #fff;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 10px;
                    display: block;
                    margin: auto;
                    border-top: 1px solid m.$text-color;
                    border-left: 1px solid m.$text-color;
                    transform: rotate(135deg);
                    inset: 0 42% 0 auto;
                }
            }
            &.prev {
                a::before {
                    transform: rotate(-45deg);
                    inset: 0 auto 0 42%;
                }
            }
        }
    }
}
