@use "../import/mixin" as m; // mixin.scssを読み込み

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	/*outline: 0;*/
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
	content: "";
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	cursor: pointer;
	color: m.$text-color;
	&:hover {
		cursor: pointer;
	}
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: 700;
}
del {
	text-decoration: line-through;
}
abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
input,
select {
	vertical-align: middle;
}
*:after,
*:before,
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
button,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
$top-pc: 150px;
$top-sp: 90px;
html {
	/* font-size: 62.5%; */
	scroll-padding-top: $top-pc;
	scroll-behavior: smooth;
	-webkit-scroll-padding-top: $top-pc;
	@include m.mq(sp) {
		scroll-padding-top: $top-sp;
	}
}
body {
	position: relative;
	width: calc(100vw - (100vw - 100%));
	min-width: 300px;
	-webkit-text-size-adjust: 100%;
	font-family: "Shippori Mincho B1", serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.75;
	color: m.$text-color;
	overflow-x: hidden;
	letter-spacing: 0.04em;
	font-size: 16px;
	@include m.mq(sp) {
		font-size: 14px;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	/*outline: 0;*/
	color: m.$text-color;
	transition: 0.4s ease-in-out;
}
img {
	border: 0;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
address,
em,
i {
	font-style: normal;
	font-style: normal;
}
button,
input,
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	border: 0;
	/*outline: 0;*/
	margin: 0;
	padding: 0;
	background: none;
	vertical-align: middle;
	font-size: inherit;
	color: m.$text-color;
	font-family: "Shippori Mincho B1", serif;
}
input::-webkit-input-placeholder {
	color: #bfbfbf;
}
input:-ms-input-placeholder {
	color: #bfbfbf;
}
input::-moz-placeholder {
	color: #bfbfbf;
}
option {
	/*outline: 0;*/
}
sup {
	position: relative;
	top: -0.7em;
	font-size: 70%;
}
a[href^="tel:"].tel_disable {
	pointer-events: none;
	text-decoration: none;
}
img[src$=".svg"] {
	width: 100%;
}
